.header{
  background-color: #3b5998;
  width:100%;
  height:85px;

}
body{
    margin: 0;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}
.logo{
    width: 50%;
    padding-top: 25px;
    float:left;
    
    
}
.login{
    width:50%;
    float:left;
    padding-top: 10px;

}
.logo-text{
    color: aliceblue;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left:188px;


}
.login-label{
    color:#ffff;
    

}
.login-controls{
    padding-left: 10px;
}
.login-forgot{
    color:#fff;
    font-size: 16px;
    text-decoration: none;

}
.submit{
    background-color: #4267b2;
    color:#fff;
    border-color: #294876;
    height:20px;
    cursor:pointer;
}
.submit:hover{
    background-color: rgb(72, 0, 255);
}
.left-section{
    width:50%;
    float:left;
}
.right-section{
    width:50%;
    float:left;
}
.main-body{
    background-color:lavender;
    width:100%;
    height:550px;
}
.image{
    width: 529px;
    height: 291px;
    padding-left: 100px;
}
.para{
    padding-left: 116px;
    padding-top: 55px;
    font-size:21px;
   font-weight: bold;
   
}
.first{
    width: 139px;
    height: 23px;
    border: 50px;



}
.second{
    width: 139px;
    height: 23px;
    border: 50px;


}
.email{
    width: 288px;
    height: 23px;
    border: 50px;

}
.newpassword{
    width: 288px;
    height: 23px;
    border: 50px;

}
.birthday{
    color:darkgrey;
}
.gender{
    font-size: 14px;
    color: darkgrey;
}
.button{
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif!important;
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow:none;
    color: #fff;
    font-size: 18px;
    height: 36px;
    overflow: hidden;
    padding:  0 32px;
    text-shadow: none;


}
.parag{
    color: #777;
    font-size: 11px;
    width: 316px;
}
.hey{
    font-size:10px;
    padding-top:18px;
    height:10px;
    width:50px;
    text-decoration: none;
    
    
    

}
.hey:hover{
    text-decoration: underline;
}


.footer{
    padding-top:16px;
    color: #737373;
    width:980px;

    

}


.last{
    color: #737373;
    font-size: 14px;
    width: 99px;

}
.halo{
    font-size:10px;
    padding-top:18px;
    height:10px;
    width:50px;
    text-decoration: none;
    color: grey;

}


